#%RAML 1.0
title: HMRC Trust Registration Service
version: Beta 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
documentation:
  - title: Trust Registration Service
    content: An API for registering and updating trusts.
mediaType: application/hal+json
resourceTypes:
  base: !include resourceTypes/base.raml
types:
  Estate: !include schemas/trust.json#/properties/estate
  Trust: !include schemas/trust.json#/properties/trust
  Trustees: !include schemas/trust.json#/properties/trust/properties/trustees
  Beneficiaries: !include schemas/trust.json#/properties/trust/properties/beneficiaries
  Settlors: !include schemas/trust.json#/properties/trust/properties/settlor
  Protectors: !include schemas/trust.json#/properties/trust/properties/protector
  LeadTrusteeIndividual: !include schemas/trust.json#/properties/trust/properties/leadTrustee/properties/person
  LeadTrusteeCompany: !include schemas/trust.json#/properties/trust/properties/leadTrustee/properties/company
  NaturalPersons: !include schemas/trust.json#/properties/trust/properties/naturalPersons
  NoChange: !include schemas/no-change.json
/trusts:
  type: base
  get:
    description: Retrieves all the trusts available to the user
    responses:
      200:
        body:
          application/json:
            type: Trust
            example: !include examples/trust.json
  post:
    description: Submits an entire set of data for a trust
    body:
      application/json:
        type: Trust
        example: !include examples/trust.json
  /utr:
    /{trn}:
        type: base
        uriParameters:
          trn:
            type: string
            displayName: The TRN of the trust.
        get:
          description: Retrieves the UTR of the trust
  /{utr}:
    type: base
    uriParameters:
      utr:
        type: string
        displayName: The SA UTR of the trust.
    get:
      description: Retrieves a specific trust
    delete:
      description: Deletes a specific trust
    /lead-trustee-individual:
      type: base
      get:
        description: Retrieves the information for an lead Trustee as an individual
        responses:
          200:
            body:
              application/json:
                type: LeadTrusteeIndividual
                example: !include examples/lead-trustee-individual.json
      put:
        description: Updates the information for an lead Trustee as an individual
        body:
          application/json:
            type: LeadTrusteeIndividual
            example: !include examples/lead-trustee-individual.json
    /lead-trustee-company:
      type: base
      get:
        description: Retrieves the information for an lead Trustee as an company
        responses:
          200:
            body:
              application/json:
                type: LeadTrusteeCompany
                example: !include examples/lead-trustee-company.json
      put:
        description: Updates the information for an lead Trustee as an company
        body:
          application/json:
            type: LeadTrusteeCompany
            example: !include examples/lead-trustee-company.json
    /trustees:
      type: base
      get:
        description: Retrieves all the trustees of the Trust
        responses:
          200:
            body:
              application/json:
                type: Trustees
                example: !include examples/trustees.json
      put:
        description: Updates all the trustees of the Trust
        body:
          application/json:
              type: Trustees
              example: !include examples/trustees.json
    /beneficiaries:
      type: base
      get:
        description: Retrieves all the beneficiaries of the Trust
        responses:
          200:
            body:
              application/json:
                type: Beneficiaries
                example: !include examples/beneficiaries.json
      put:
        description: Updates all the beneficiaries of the Trust
        body:
          application/json:
              type: Beneficiaries
              example: !include examples/beneficiaries.json
    /settlors:
      type: base
      get:
        description: Retrieves all the settlors for the Trust
        responses:
          200:
            body:
              application/json:
                type: Settlors
                example: !include examples/settlors.json
      put:
        description: Updates all the settlors for the Trust
        body:
          application/json:
              type: Settlors
              example: !include examples/settlors.json
    /natural-persons:
      type: base
      get:
        description: Retrieves all the "natural persons" for the Trust
        responses:
          200:
            body:
              application/json:
                type: NaturalPersons
                example: !include examples/natural-persons.json
      put:
        description: Updates all the "natural persons" for the Trust
        body:
          application/json:
              type: NaturalPersons
              example: !include examples/natural-persons.json
    /protectors:
      type: base
      get:
        description: Retrieves all the protectors for the Trust
        responses:
          200:
            body:
              application/json:
                type: Protectors
                example: !include examples/protectors.json
      put:
        description: Updates all the protectors for the Trust
        body:
          application/json:
            type: Protectors
            example: !include examples/protectors.json
    /confirmation:
      type: base
      post:
        description: Confirms no change to the trust
        responses:
          200:
            body:
              application/json:
                type: NoChange
                example: !include examples/no-change.json
  /lead-trustee-individual:
    type: base
    post:
      description: Registers a lead Trustee as an individual
      body:
        application/json:
          type: LeadTrusteeIndividual
          example: !include examples/lead-trustee-individual.json
  /lead-trustee-company:
    type: base
    post:
      description: Registers a lead Trustee as an company
      body:
        application/json:
          type: LeadTrusteeCompany
          example: !include examples/lead-trustee-company.json
/estates:
  type: base
  get:
    description: Retrieves all the estates available to the user
    responses:
      200:
        body:
          application/json:
            type: Estate
            example: !include examples/estate.json
  post:
    description: Submits an entire set of data for a estate
  /{utr}:
    type: base
    uriParameters:
      utr:
        type: string
        displayName: The SA UTR of the estate.
    delete:
      description: Deletes a specific estate
