#%RAML 1.0
title: Trust Registration Service
description: An API for registering and updating trusts.
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/hal+json
resourceTypes:
  base: !include resourceTypes/base.raml
types:
  Estate: !include schemas/trust.json#/properties/estate
  Trust: !include schemas/trust.json#/properties/trust
  Trustees: !include schemas/trust.json#/properties/trust/properties/trustees
  GetBeneficiaries: !include schemas/get-beneficiaries.json
  Settlors: !include schemas/trust.json#/properties/trust/properties/settlor
  GetProtectors: !include schemas/trust.json#/definitions/api-responses/get-protectors
  NaturalPersons: !include schemas/trust.json#/properties/trust/properties/naturalPersons
  NoChange: !include schemas/no-change.json
  Close: !include schemas/close.json
  TrustContact: !include schemas/trust-contact.json
  LeadTrustee: !include schemas/lead-trustee.json
/trusts:
  type: base
  get:
    displayName: My Trusts
    description: Retrieves all the trusts available to the user
    responses:
      200:
        body:
          application/json:
            type: Trust
            #example: !include examples/trust.json
  post:
    displayName: Full Trust Registration
    description: Submits an entire set of data for a trust
    body:
      application/json:
        type: Trust
        #example: !include examples/trust.json
  /{identifier}:
    type: base
    uriParameters:
      identifier:
        type: string
        displayName: Identifier
        description: A unique ID for the Trust
    get:
      displayName: Get Trust
      description: Retrieves a specific trust
    /close:
      type: base
      put:
        displayName: Close Trust
        description: Closes the specified trust
        responses:
          200:
            body:
              application/json:
                type: Close
                example: !include examples/close.json
    /contact-details:
      type: base
      get:
        displayName: Get Trust Contact Details
        description: Gets the address and telephone number associated with the trust
        responses:
          200:
            body:
              application/json:
                type: TrustContact
                example: !include examples/trust-contact.json
    /lead-trustee:
      type: base
      get:
        displayName: Get Lead Trustee Individual
        description: Retrieves the information for an lead Trustee
        responses:
          200:
            body:
              application/json:
                type: LeadTrustee
                example: !include examples/lead-trustee.json
      put:
        displayName: Update Lead Trustee
        description: Updates the information for an lead Trustee
        body:
          application/json:
            type: LeadTrustee
            #example: !include examples/lead-trustee-individual.json
    /trustees:
      type: base
      get:
        displayName: Get Trustees
        description: Retrieves all the trustees of the Trust
        responses:
          200:
            body:
              application/json:
                type: Trustees
                #example: !include examples/trustees.json
      put:
        displayName: Update Trustees
        description: Updates all the trustees of the Trust
        body:
          application/json:
              type: Trustees
              #example: !include examples/trustees.json
    /beneficiaries:
      type: base
      get:
        displayName: Get Beneficiaries
        description: Retrieves all the beneficiaries of the Trust
        responses:
          200:
            body:
              application/json:
                type: GetBeneficiaries
                example: !include examples/get-beneficiaries.json
      put:
        displayName: Update Beneficiaries
        description: Updates all the beneficiaries of the Trust
        body:
          application/json:
              #example: !include examples/beneficiaries.json
    /settlors:
      type: base
      get:
        displayName: Get Settlors
        description: Retrieves all the settlors for the Trust
        responses:
          200:
            body:
              application/json:
                type: Settlors
                #example: !include examples/settlors.json
      put:
        displayName: Update Beneficiaries
        description: Updates all the settlors for the Trust
        body:
          application/json:
              type: Settlors
              #example: !include examples/settlors.json
    /natural-persons:
      type: base
      get:
        displayName: Get Natural Persons
        description: Retrieves all the "natural persons" for the Trust
        responses:
          200:
            body:
              application/json:
                type: NaturalPersons
                #example: !include examples/natural-persons.json
      put:
        displayName: Update Beneficiaries
        description: Updates all the "natural persons" for the Trust
        body:
          application/json:
              type: NaturalPersons
              #example: !include examples/natural-persons.json
    /protectors:
      type: base
      get:
        displayName: Get Protectors
        description: Retrieves all the protectors for the Trust
        responses:
          200:
            body:
              application/json:
                type: GetProtectors
                example: !include examples/protectors.json
      put:
        displayName: Update Protectors
        description: Updates all the protectors for the Trust
        body:
          application/json:
            #type: Protectors
            #example: !include examples/protectors.json
    /no-change:
      type: base
      put:
        displayName: No Change
        description: Confirms no change to the trust
        responses:
          200:
            body:
              application/json:
                type: NoChange
                example: !include examples/no-change.json
  /lead-trustee:
    type: base
    post:
      displayName: Register Lead Trustee
      description: Registers a lead Trustee
      body:
        application/json:
          type: LeadTrustee
          #example: !include examples/lead-trustee-individual.json
/estates:
  type: base
  get:
    displayName: My Estates
    description: Retrieves all the estates available to the user
    responses:
      200:
        body:
          application/json:
            type: Estate
            #example: !include examples/estate.json
  post:
    displayName: Register Estate
    description: Submits an entire set of data for a estate
  /{identifier}:
    type: base
    uriParameters:
      identifier:
        type: string
        displayName: The SA UTR of the estate.
    get:
      displayName: Get Estate
      description: Retrieve a specific estate
      responses:
        200:
          body:
            application/json:
              type: Estate
              #example: !include examples/estate.json
    delete:
      displayName: Delete Estate
      description: Deletes a specific estate
