#%RAML 1.0
---
title: Hello World
version: 1.0

protocols: [ HTTPS ]
baseUri: https://helloworld.service.hmrc.gov.uk/

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: We use versions.

mediaType: application/hal+json

uses:
  sec: modules/oauth2.raml

annotationTypes:
  config: object
  group:
    type: object
    properties:
      name: string
      description: string

traits:
  commonHeaders:
    headers:
      Accept:
        description: API version
        type: string
        required: true
        example: application/vnd.hmrc.1.0+json

/hello:
  (group):
    name: Hello World
    description: Navigate Hello World information
  /world:
    get:
      displayName: Say hello world
      description: |
        # Say hello world
        A simple example for integrating with an unrestricted service.
        Any request to this endpoint initiates a 'Hello World' response.
      is: [commonHeaders]
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "message" : "Hello World"
                }
  /user:
    get:
      displayName: Say hello user
      description: |
        # Say hello user
        A simple example for integrating with a user-restricted service, using a OAuth 2.0 `access_token`.
        Any authorised request to this endpoint initiates a 'Hello User' response.
      is: [commonHeaders]
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "message": "Hello User"
                }
  /application:
    get:
      displayName: Say hello application
      description: |
        # Say hello application
        A simple example for integrating with an application-restricted service, using your `server_token`.
        Any authorised request to this endpoint initiates a 'Hello Application' response.
      is: [commonHeaders]
      responses:
        200:
          body:
            application/json:
              example: |
                {
                  "message": "Hello Application"
                }

